@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (prefers-color-scheme: light) {
  /* Light mode styles */
  :root {
    --bg-color: #fff;
    --text-color: #1e2522;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-amber-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fff7c3 0.89%,
    #fff29b 17.23%,
    #ffed79 42.04%,
    #ffea61 55.12%,
    #ffe53a 71.54%,
    #FFDD00 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-amber-gradient {
  background: linear-gradient(
    157.81deg,
    #fff7c3 -43.27%,
    #fff29b -21.24%,
    #ffed79 12.19%,
    #ffea61 29.82%,
    #ffe53a 51.94%,
    #FFDD00 90.29%
  );
}
.hover-bg-amber-gradient {
  background: linear-gradient(
    157.81deg,
    #fff29b -21.24%,
    #ffed79 12.19%,
    #ffe53a 51.94%,
    #ffea61 29.82%,
    #fff7c3 -43.27%,
    #FFDD00 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
.navbar-box-shadow {
  box-shadow: 0.2px 0.2px 5px rgba(66, 71, 91, 0.1);
}

.input-box{
  letter-spacing: 2px;
  color: #03000b;
  font-size: 18px;
  margin-left: 10px;
  border-radius: 2px;
  height: 35px;
  border: 2px solid #5ce1e6;
}
.letterSpacing{
  letter-spacing: 2px;
}

.border-radius{
  border-radius: 6px;
}
.border-div{
  border: 2px solid #b3b3b3;
}
.flex-right{
  display: flex;
  justify-self: right;
  align-items: center;
}
.login-btn{
  background-color: #113ee0;
  color: whitesmoke;
  font-size: medium;
  padding: 15px 60px;
  border-radius: 5px;
  margin: 0 0 20px;
}
.cancel-btn{
  background-color: #ea0000;
  color: whitesmoke;
  font-size: medium;
  padding: 15px 60px;
  border-radius: 5px;
  margin: 0 0 20px;
}
.addUser-btn{
  background-color: #06b34b;
  color: whitesmoke;
  font-size: medium;
  padding: 15px 60px;
  border-radius: 5px;
  margin: 0 0 20px;
}
.add-btn{
  background-color: #DC3545;
  color: whitesmoke;
  font-size: medium;
  padding: 15px 60px;
  border-radius: 5px;
  margin: 0 0 20px;
}
.active\:login-btn:active{
  background-color: #06661c;
}
.after\:login-btn::after{
  background-color: #06661c;
}
.meta-img{
  width: 40px;
  height: 40px;
}
.meta-p{
  margin: 10px 0 0px 10px;
}
.meta-btn{
  margin-top: 20px;
  display: flex;
  background-color: #E2761B;
  font-size: larger;
  padding: 20px 60px;
  border-radius: 5px;
}
.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.side-icon{
  position: relative;
  width: 30px;
  height: 30px;
  top: 14px;
  font-size: 20px;
  text-align: center;
  margin: 0 20px 0 10px;
}
.nav-span{
  position: relative;
  top: 10px;
  bottom: 10px;
  margin-left: 10px;
}
.mainSidebar{
  position: fixed;
  top: 60px;
  bottom: 0;
  height: 100%;
  left: 0;
  /* background: #fff; */
  width: 90px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.hover\:s-transition:hover{
  transition: all 0.5s ease;
}
.hover\:logout:hover{
  background: none;
  color: #DC3545;
}
.active\:logout:active{
  color: #DC3545;
}

.table-box{
  display: block;
  margin-left: 5%;
}
.table-Box{
  display: flex;
  flex-direction: column;
}
.table-row{
  display: table;
  width: 80%;
  padding: 12px 0;
  font-size: 14px;
  /* box-shadow: 0 1px 4px 0 rgba(0,0,50, 0.3); */
  border:1px solid#5d5d5d;
}

.table-cell{
  display: table-cell;
  width: 20%;
  align-items: center;
  text-align: center;
  padding: 4px 0;
  vertical-align: middle;
  border-right: 2px solid #5d5d5d;
  
}

.last-cell{
  border-right: none;
}
.table-head{
  border:1px solid#5d5d5d;
  margin-top: 100px;
  background:  rgba(85, 83, 83);
  box-shadow: none;
  border: 1px solid #171717;
  font-weight: 600;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.emerald__gradient {
  background: linear-gradient(90deg, rgb(209 250 229) 0%, rgb(5 150 105) 100%);
  filter: blur(900px);
}

.indigo__gradient {
  background: linear-gradient(180deg,  rgb(224 231 255) 0%, rgb(79 70 229) 100%);
  filter: blur(123px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
.black__gradient {
  background : rgba(18, 18, 18, 0.6);
  filter: blur(750px);
}

